html, body {
*{-webkit-transition: all .3s ease-in;-moz-transition: all .3s ease-in;-ms-transition: all .3s ease-in;transition: all .3s ease-in;}
body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote, th, td, tr, table{margin:0; padding:0}
body { font-size:14px; font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; margin:0px;}
html, body {
height: 100%;
width:100%;
margin-top: 0px;
padding:0;
background:#fff
}
.list-mangle {
height: 652px;
width: 466px;
padding: 4px;
margin-top:0px;
margin-bottom:0px;
}
.qrcode {
padding-top:193px;
padding-left:83px;
position:absolute;
}
.ssid {
padding-top:25px;
padding-left:97px;
position:absolute;
font-size:20pt;
font-weight: bold;
text-align: center;
}