html, body {
margin: 0px;
padding:0px;
top:0px;
bottom:0px;
background:#fff;
font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.list-output-content {
height: 652px;
width: 466px;
padding: 4px;
margin:0px;
margin:0px;
background:#fff;
}
.qrcode {
position:absolute;
}
.text-ssid {
position:absolute;
font-weight: bold;
position:absolute;
color:#E12D00;
}