a:link {color: #08c;  text-decoration:none}
a:visited {color: #08c;  text-decoration:none}
a:hover {color: black;}
a:active {color: #08c;}      
body {margin:20px;font-size:13px;background-color:#fff;color: #222; font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:20px; color:#8E2DE2;}
pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}